<!-- app/views/fas/search.html.erb -->
<div class="container mt-4">
  <h2 class="basic-head fw-bold text-center bg-primary p-3 my-3">Search Barcode</h2>
  <%= form_with(url: search_fas_path, method: :get, local: true, class: "form-inline justify-content-center mb-3") do %>
    <div class="form-group">
      <%= text_field_tag :barcode, params[:barcode], class: "form-control mr-2 my-2", placeholder: "Enter Barcode", autocomplete: 'off' %>
    </div>
    <div class="text-center">
      <%= submit_tag "Search", class: "btn btn-primary my-2" %>
    </div>
  <% end %>

  <% if @search.present? %>
    <h2 class="basic-head fw-bold text-center bg-primary p-3 my-3">Search Result</h2>
    <table class="table table-striped table-bordered align-middle text-center">
      <thead>
        <tr>
          <th style="width: 80px">Sr No.</th>
          <th>Date</th>
          <th>Time</th>
          <th>Line</th>
          <th>Model</th>
          <th>Barcode</th>
          <th>Analysis</th>
        </tr>
      </thead>
      <tbody>
			  <% @search.each_with_index do |fa, index| %>
			    <tr>
			      <td><%= index + 1 %></td>
			      <td><%= fa.date&.strftime('%Y-%m-%d') %></td>
			      <td><%= fa.time&.strftime('%H:%M:%S') %></td>
			      <td><%= fa.Line %></td>
			      <td><%= fa.Model %></td>
			      <% fa.barcodes.each do |barcode| %>
			        <% if barcode.value == params[:barcode] %>
			          <td>
			          	<%= barcode.value %>
			            <!-- Add a hidden field for status -->
			            <input type="hidden" class="status-field" data-barcode="<%= barcode.value %>" value="<%= barcode.status %>">
			            <!-- Add a hidden field for remarks -->
			            <input type="hidden" class="remarks-field" data-barcode="<%= barcode.value %>" value="<%= barcode.remarks %>">
			          </td>
			          <% if barcode.status.present? && barcode.remarks.present? %>
			          	<td>
						        <%= barcode.status %>
						      </td>
						      <td>
						        <%= barcode.remarks %>
						      </td>
						      <td>
						      </td>
						    <% else %>  
				          <td>
									  <!-- Add form fields for Status and Remarks -->
									  <%= form_tag(update_status_and_remarks_fas_path, method: :post, id: "update_form_#{barcode.value}") do %>
									    <%= hidden_field_tag :barcode, barcode.value %>
									    <!-- Column for Status -->
									    <div class="form-group">
									      <label for="status">Status</label>
									      <%= text_field_tag :status, barcode.status, class: 'form-control', placeholder: 'Update Status', value: 'OK' %>
									    </div>
									  </td>
									  <td>
									    <!-- Column for Remarks -->
									    <div class="form-group">
									      <label for="remarks">Remarks</label>
									      <%= text_field_tag :remarks, barcode.remarks, class: 'form-control', placeholder: 'Update Remarks', value: 'N/A', autocomplete: 'off' %>
									    </div>
									  </td>
									  <td>
									    <%= submit_tag 'Update', class: 'btn btn-primary btn-sm mt-1', form: "update_form_#{barcode.value}" %>
									  </td>
									  <% end %>
									</td>
								<% end %>	
			        <% end %>
			      <% end %>
			    </tr>
			  <% end %>
			</tbody>
    </table>
  <% elsif flash[:alert] %>
    <div class="alert alert-info text-center mt-3" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

