<!-- app/views/fas/show.html.erb -->

<h1>Barcode Details</h1>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Serial No.</th>
        <th>Date</th>
        <th>Time</th>
        <th>Line</th>
        <th>Model</th>
        <th>Barcode</th>
      </tr>
    </thead>
    <tbody>
      <%= form_tag submit_barcode_data_fa_path(@fa), method: :post do %>
        <% @fa.qty.times do |serial_number| %>
          <tr>
            <td><%= serial_number + 1 %></td>
            <td><%= @fa.date&.strftime('%Y-%m-%d') %></td>
            <td><%= @fa.time&.strftime('%H:%M:%S') %></td>
            <td><%= @fa.Line %></td>
            <td><%= @fa.Model %></td>
            <td><%= text_field_tag "barcodes[][value]", nil, class: "form-control", placeholder: "Enter Barcode" %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="6"><%= submit_tag 'Submit', class: 'submit' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "<< Back", new_fa_path, style: "color: white;", class: "btn btn-secondary", style: "margin-right: 500px" %>
  <%= link_to "Go to List >>", root_path, style: "color: white;", class: "btn btn-secondary" %>
</p>

<%= link_to 'Export to Excel', export_excel_fas_path(format: 'xlsx'), class: 'btn btn-success' %>

<style>
  /* Custom CSS to center content in table cells */
  tbody td {
    text-align: center;
    padding: 8px;
  }
  .submit {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #f8f9fa;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    border-radius: 5px;
    cursor: pointer;
  }
</style>