<div class="container">
	<h2 class="basic-head text-center bg-primary p-3 my-3">Barcode Details</h2>
	<div class="mb-2">
    <% if flash.now[:alert] %>
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <%= flash.now[:alert] %>
      </div>
    <% end %>
  </div>
	<table class="table table-striped table-bordered align-middle text-center">
	  <tbody>
	    <tr>
	      <th style="width: 80px">Sr No.</th>
	      <th>Date</th>
	      <th>Time</th>
	      <th>Line</th>
	      <th>Model</th>
	      <th class="text-center">Barcode<p class="m-0"><small class="text-muted">After scan press tab button.</small></p></th>
	    </tr>
	    <%= form_with(model: @fa, url: submit_barcode_data_fas_path(@fa), method: :post, data: { turbo: false}) do |form| %>
	        <% @fa.qty.times do |serial_number| %>
	          <tr>
	            <td><%= serial_number + 1 %></td>
	            <td><%= @fa.date&.strftime('%Y-%m-%d') %></td>
	            <td><%= @fa.time&.strftime('%H:%M:%S') %></td>
	            <td><%= @fa.Line %></td>
	            <td><%= @fa.Model %></td>
	            <td><%= form.text_field "barcodes[][value]", class: "form-control", placeholder: "Enter Barcode" %></td>
	          </tr>
	        <% end %>
	        <tr>
	          <td colspan="6" class="text-center">
	            <%= form.submit "Submit", class: "btn btn-large btn-primary" %>
	          </td>
	        </tr>
	      <% end %>
	  </tbody>
	</table>
	<div class="d-flex align-items-center justify-content-between">
	  <%= link_to "<< Back", new_fa_path, class: "btn btn-sm btn-secondary", style: "margin-right: 500px" %>
	  <%= link_to "Go to List >>", root_path, class: "btn btn-sm btn-secondary", style: "color: white;" %>
	</div>
</div>