<div class="container">
  <div class="row">
    <div class="col-2 filter-column mt-3">
      <div class="form-group mb-2">
        <div class="col-md-11">
          <label for="filterDateFrom">From Date:</label>
          <input type="date" id="filterDateFrom" class="form-control">
        </div>
        <div class="col-md-11">
          <label for="filterDateTo">To Date:</label>
          <input type="date" id="filterDateTo" class="form-control">
        </div>
        <div class="col-md-11">
          <label for="filterTimeFrom">From Time:</label>
          <input type="time" id="filterTimeFrom" class="form-control">
        </div>
        <div class="col-md-11">
          <label for="filterTimeTo">To Time:</label>
          <input type="time" id="filterTimeTo" class="form-control">
        </div>
        <div class="row">
          <div class="col-md-6 my-2">
            <button id="filterBtn" class="btn btn-primary custom-btn">Filter</button>
          </div>
          <div class="col-md-6 my-2">
            <button id="resetBtn" class="btn btn-secondary">Reset</button>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-3">
         <%= link_to 'Export to Excel', export_to_excel_fas_path(format: 'xlsx'), class: 'btn btn-success popover-dismiss', tabindex: '0', role: 'button', data: { bs_toggle: 'popover', bs_content: "Entire data is downloaded in Excel file.", bs_title: 'Hi', bs_trigger: 'focus' } %>
      </div>
    </div>
    <div class="col-10">
      <h2 class="basic-head fw-bold text-center bg-primary p-3 my-3">Failure Analysis Data</h2>
      <div class="table-container">
        <table class="table table-striped table-bordered align-middle text-center">
            <tbody>
              <tr>
                <th style="width: 80px">Sr No.</th>
                <th>Date</th>
                <th>Time</th>
                <th>Line</th>
                <th style="width: 100px">Model</th>
                <th style="width: 330px">Barcode</th>
                <th style="width: 130px">Out Date</th>
                <th>Out Time</th>
                <th style="width: 100px">FT Status</th>
                <th>Remarks</th>
                <th>Time Gap</th>
              </tr>
              <% serial_number = 0 %>
              <% @submitted_fas.reverse_each.with_index(1) do |fa, index| %>
                <% fa.barcodes.each do |barcode| %>
                  <% serial_number += 1 %>
                  <tr class="table-row">
                    <td><%= serial_number %></td>
                    <td><%= fa.date&.strftime('%Y-%m-%d') %></td>
                    <td><%= fa.time&.strftime('%H:%M:%S') %></td>
                    <td><%= fa.Line %></td>
                    <td><%= fa.Model %></td>
                    <td><%= barcode.value %></td>
                    <td>
                      <% if barcode.status.present? %>
                        <%= barcode.updated_at&.strftime('%Y-%m-%d') %>
                      <% else %>
                        <%= '' %>
                      <% end %>
                    </td>
                    <td>
                      <% if barcode.status.present? %>
                        <%= barcode.updated_at&.strftime('%H:%M:%S') %>
                      <% else %>
                        <%= '' %>
                      <% end %>
                    </td>
                    <td class="<%= 'text-danger' if barcode.status == 'NG' %>"><%= barcode.status %></td>
                    <td><%= barcode.remarks %></td>
                    <td>
                      <% if barcode.updated_at.present? && fa.time.present? && barcode.status.present? %>
                        <!-- dont delete below line: these lines show date gap along with time within row.-->
                        <%# updated_at_time = barcode.updated_at %>
                        <%# fa_time = fa.time %>
                        <%#= Time.at(time_difference).utc.strftime('%d days %H:%M:%S') %>
                        <% updated_at_time = barcode.updated_at.to_time %>
                        <% fa_time = fa.time.to_time %>
                        <% time_difference = (updated_at_time - fa_time).abs %>
                        <%= Time.at(time_difference).utc.strftime('%H:%M:%S') %>
                      <% else %>
                        <%= '' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style type="text/css">
  .container {
    max-width: 1600px;
  }
  .mb-2 {
    margin-top: 6.5rem!important;
  }
  .col-2 {
    width: 15%;
  }
  .filter-column {
    background-color: #0d6efd;
    border-radius: 10px;
  }
  .custom-btn {
    background-color: #e7e7;
  }
  .table-container {
    max-height: 635px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Add a vertical scrollbar when the content overflows */
  }
</style>

<script>
  $(document).ready(function() {
    var initialVisibleRows = $(".table-row").toArray(); // Array to store initially visible rows

    $("#filterBtn").on("click", function() {
      const fromDate = new Date($("#filterDateFrom").val());
      const toDate = new Date($("#filterDateTo").val());
      const fromTime = $("#filterTimeFrom").val();
      const toTime = $("#filterTimeTo").val();

      $(".table-row").each(function() {
        const rowDate = new Date($(this).find("td:eq(1)").text());
        const rowTime = $(this).find("td:eq(2)").text(); // Assuming time is in the third cell

        if (!isNaN(fromDate) && !isNaN(toDate) && !isNaN(rowDate)) {
          const isValidDate = rowDate >= fromDate && rowDate <= toDate;
          const isValidTime = (!fromTime || rowTime >= fromTime) && (!toTime || rowTime <= toTime);

          if (isValidDate && isValidTime) {
            $(this).show();
          } else {
            $(this).hide();
          }
        } else {
          // Handle invalid dates if needed
        }
      });
    });

    $("#resetBtn").on("click", function() {
      // Show initially visible rows
      $(initialVisibleRows).show();
      // Clear input fields
      $("#filterDateFrom, #filterDateTo, #filterTimeFrom, #filterTimeTo").val("");  
    });
  });
</script>
<script>
    // Initialize popover for the export link
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
      trigger: 'focus'
    });
</script>